@font-face {font-family: 'Gibson';
	src: url('../fonts/2733D5_0_0.eot');
	src: url('../fonts/2733D5_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2733D5_0_0.woff') format('woff'),
		 url('../fonts/2733D5_0_0.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}


@font-face {font-family: 'Gibson';
	src: url('../fonts/2733D5_1_0.eot');
	src: url('../fonts/2733D5_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2733D5_1_0.woff') format('woff'),
		 url('../fonts/2733D5_1_0.ttf') format('truetype');
	font-weight: normal;
    font-style: italic;
}


@font-face {font-family: 'Gibson';
	src: url('../fonts/2733D5_5_0.eot');
	src: url('../fonts/2733D5_5_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2733D5_5_0.woff') format('woff'),
		 url('../fonts/2733D5_5_0.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
}

@font-face {font-family: 'Gibson';
	src: url('../fonts/2733D5_7_0.eot');
	src: url('../fonts/2733D5_7_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2733D5_7_0.woff') format('woff'),
		 url('../fonts/2733D5_7_0.ttf') format('truetype');
	font-weight: bold;
    font-style: italic;
}

@font-face {font-family: 'Gibson';
	src: url('../fonts/2733D5_6_0.eot');
	src: url('../fonts/2733D5_6_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2733D5_6_0.woff') format('woff'),
		 url('../fonts/2733D5_6_0.ttf') format('truetype');
	font-weight: 800;
    font-style: normal;
}
