// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements
$white-color: #ffffff;
$background-color: #dddddd;
$paper-color: #f9f9f9;
$primary-color: #9EAB0F;
$secondary-color: #002539;
$mid-text: #aaaaaa;

// Injects all import files automatically
// [pre_injector]
@import 'pre/_variables';
// [endpre_injector]

// Injects all bower_component files automatically
// bower:scss
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

// Injects all import files automatically
// [post_injector]
@import 'post/paper';
// [endpost_injector]

// [css_injector]
@import 'post/gibson.css';
@import 'post/react-select.css';
@import 'post/react-widgets.css';
// [endcss_injector]

$light-text: $gray-light;

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
  // Compensate for the 62px tall fixed navbar with padding-top
  padding-top: 62px;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  p {
    margin: 0;
  }
}

* {
  transition: all 0.5s ease;
}

.content {
  background: $background-color;
}

.panel {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.08);
  border-radius: 3px;
}

.tooltip, .popover {
  transition: none;
}


label, .label {
  font-weight: 800;
  vertical-align: top;
  padding: 0.1em 0.5em 0.15em;
  font-size: 85%;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
}

#login-panel {
  margin-top: 200px;
}

.container {
  max-width: 100%;
  padding-bottom: 50px;
}

.nomargin {
  margin: 0;
}

.flat-button .btn, .flat-button.btn {
  border: 0;
  box-shadow: none;
}

[contentEditable] {
  outline: none;
  border-bottom: 1px dotted #666;
  &:before:empty{
    content:attr(data-ph);
    color:yellow;
    font-style:italic;
  }
}

.overflow-scroll {
  width: 100%;
  display: block;
  overflow: scroll;
}

/* ==========================================================================
Creator Mast
========================================================================== */

.panel.creator-mast {
  background: $paper-color;
  box-shadow: none;
  li.dropdown {
    display: inline;
  }
  > div > .media, .media-body {
    overflow: visible;
    .dropdown-menu {
      padding:0;
      li {
        padding: 10px;
        &:hover {
          background: $gray-lighter;
        }
      }

      .media, .media-body {
        width: auto;
        margin-top: 0;

      }
    }
  }
}

/* ==========================================================================
Infinite List
========================================================================== */

.infinite-list {
  background: $background-color;
  .infinite-list-item {
    background: $paper-color;
    margin: 20px 10px;
  }
  div {
    transition: none;
  }
}


/* ==========================================================================
Image Fade
========================================================================== */

.fadeimage.image {
   opacity: 0;
   width: 100%;
   transition: opacity 1.0s;
   &.image-loaded {
     opacity: 1;
   }
}

/* ==========================================================================
Editor Controls
========================================================================== */

.checkbox-inline {
  padding-left: 25px;
}

/* ==========================================================================
Loader
========================================================================== */

.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background-color;
  opacity: 0.8;
  z-index: 50;
  &.error {
    background: red;
    > :before {
      content: 'Error';
      font-size: 36px;
      color: white;
      padding-top: 20px;
      font-weight: 800;
      text-align: center;
    }
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 50;
    .sk-spinner-chasing-dots.sk-spinner {
      width: 120px;
      height: 120px;
      .sk-dot1, .sk-dot2 {
        background-color: #ffffff;
      }
    }
  }
}


/* ==========================================================================
Top Navbar
========================================================================== */

.navbar-inverse {
  background: $primary-color;
  height: 62px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  z-index: 10000;
  .navbar-brand {
    color: #333;
    margin-left: -15px;
  }
  .navbar-header.pull-left {
    position: absolute;
    left: 0;
    right: 120px;
    .btn-default.drawer-toggle {
      position: relative;
      float:left;
      padding: 10px 15px;
      margin: 10px 0 15px 0;
      background: none;
      border: none;
    }
    .navbar-brand {
    }
    .navbar-form.search {
      padding-bottom: 0;
      padding-left: 10px;
      padding-top: 0;
      float: left;
      border: none;
      box-shadow: none;
      label.search-label {
        color: $white-color;
        margin: 7px 0 0 15px;
        z-index: 10;
      }
      .form-group {
        position: absolute;
        left: 120px;
        right: 0;
        .input-group {
          width: 100%;
          .input-group-addon {
            width: 20px;
          }
        }
        .form-control::-webkit-input-placeholder {
          color: rgba(255,255,255,0.8);
        }
        .form-control[type=text] {
          box-shadow: none;
          font-weight: bold;
          padding-left: 45px;
          background: rgba(255,255,255,0.15);
          box-shadow: none;
          border-radius: 3px;
          transition: opacity 0.5s;
          &:focus {
            background: rgba(0,0,0,0.15);
          }

        }
      }
    }
  }
  .navbar-header.pull-right.nav

  >li{
    float: left;

// Temp fix for mismatched react-bootstrap versions:
    &a.loggedin-menu, &.loggedin-menu > a {
      padding-bottom: 4px;
      padding-top: 11px;
    }
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    > li > a {
      color: #fff;
    }
  }
}


/* ==========================================================================
Left Drawer
========================================================================== */

nav.drawer {
  z-index: -1;
  top: 62px;
  bottom:0;
  position: fixed;
  width: 300px;
  background: $background-color;

  overflow-y: scroll;

  .divider {
    border-bottom: dotted 1px rgba(0,0,0,0.3);
  }

  .nav-stacked {
    li a {
      color: #444;
      &:hover {
        background: $paper-color;
      }
      .fa {
        margin-top: 3px;
      }
      &.active {
        background: $paper-color;
      }
    }
  }
}

nav.drawer-enter {
  left: 0;
}

nav.drawer-enter.drawer-enter-active {
  left: 0px;
}

nav.drawer-leave {
  left: 0px;
}

nav.drawer-leave.drawer-leave-active {
  left: 0;
}

.well.card {
  background: transparent;
  cursor: pointer;
  border: none;
  border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 0;
  padding-left: 20px;
  &:hover, &.active {
    background: $paper-color;
  }
  h6.card-label {
    color: $mid-text;
  }
}


/* ==========================================================================
Detail Component
========================================================================== */

.default {
  position: absolute;
  left: 0;
  right: 0;
  background: $background-color;
  .detail-single {
    margin: 20px 10px;
    background: $paper-color;
  }
}

/* ==========================================================================
Subhero
========================================================================== */

.btn-toolbar > a {
  margin-left: 5px;
}

h4 p {
  line-height: 1.3;
}

/* ==========================================================================
Relationship Selector
========================================================================== */

.relationship-selector {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  .rw-combobox {
    width: 75%;
    float: left;
    position: relative;
    input {
      padding-left: 15px;
    }
    .rw-popup ul li {
      clear: both;
      height: 100%;
      img {
        float: left;
        margin: 1px 10px 1px -10px;
      }
    }
  }
  .btn {
    float: right;
    margin-right: -5px;
    border: 0;
    box-shadow: none;
    background: none;
  }
}
/* ==========================================================================
Griddle Admin Lists
========================================================================== */

.griddle-card {
  padding: 10px;
  background: $paper-color;
}
.griddle {
  td {
    input[type="checkbox"] {
      margin-left: 10px;
    }
    h5 {
      font-weight: 800;
    }
  }
}

/* ==========================================================================
Mini hero (relationship list editor)
========================================================================== */


h6.card-label, h6.heading {
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
  color: $mid-text;
}

h6.heading {
  margin-bottom: 10px;

  &.heading-cards {
    margin-left: 5px;
  }
}

h4.card-name {
  margin-top: 9px;
  overflow: hidden;
  white-space: normal;
  small {
    font-weight: bold;
  }
}

.relationship-button {
  .btn-group {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 6px 15px rgba(0,0,0,0.08);

  }
  .btn {
    height: auto;
    border: none;
    box-shadow: none;
    &:first-child {
      width: 90%;
      text-transform: none;
      text-align: left;
      padding-top: 13px;
      padding-bottom: 20px;
      color: #fff;
    }
    &.dropdown-toggle {
      width: 10%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-image: none !important;
    }
    .minihero {
      // background: rgba(255,255,255,0.7);
      margin: -13px -16px -20px;
      padding: 0px 15px;
      height: auto;
      overflow: hidden;
      background: #fff;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      img {
        float: left;
        margin-left: -15px;
        margin-right: 10px;
      }
    }
  }
  .dropdown-menu {
    left: inherit;
    right: 0;
    float: right;
  }
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
    position: relative;
    height: 300px;
    background: #999 no-repeat center center;
    background-size: cover;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.7) 82%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(27%,rgba(0,0,0,0)), color-stop(82%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
      background: rgba(0,0,0,0.3);

    }
    .headline {
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      a {
        color: #fff;
      }
      .media {
        margin-bottom: 10px;
      }
    }
    h2 {
      color: #efefef;
      padding-bottom:5px;
    }
    i {
        margin-left: 5px
    }
    .opacityOnHover a {
      opacity: 0.5;
      &:hover {
        opacity: 1.0;
      }
    }
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid.png);
}

// Bootstrap Customizations
.bgTexture {
  background: #666 url(../images/grid.png);
}
.sectionIcon {
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  position: relative;
  margin-right: 10px;
  margin-top: -15px;
  display: inline-block;
}
.carousel {
  height: 400px;
  overflow:hidden;
  background: #444;
  .carousel-inner {
    .image-bg {
      background: #999 no-repeat center center;
      background-size: cover;
      height: 400px;
      width: 100%;
      position: relative;
    }
  }
}


// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

// Pace styles
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 60px;
  right: 100%;
  width: 100%;
  height: 2px;
}


@media (max-width: 768px) {
  .default.detail {
    transform: translate(300px,0);
    left: 0;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $background-color;
      opacity: 0.8;
      transition: opacity 0.5s ease;
    }
  }
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .navbar-inverse .navbar-header.pull-left .btn-default.drawer-toggle {
    margin-left: 15px;
  }
}
@media (min-width: 768px) {

  .pace .pace-progress {
    top: 62px;
  }

  nav.drawer {
    width: 200px;
  }

  .default.detail {
    transform: translate(200px,0);
    right: 200px;
  }

  .navbar-fixed-top .form-control {
    width: 100%;
  }


}

@media (min-width: 992px) {

  .hero {
    height: 500px;
  }
  nav.drawer {
    width: 300px;
  }



  .default.detail {
    transform: translate(300px,0);
    right: 300px;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 800px;
    h2 {
      font-size: 50px;
    }
  }
  .carousel {
    height: 800px;
    .carousel-inner {
      .image-bg {
        height: 800px;
      }
    }
  }
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

.autocomplete-input {
  height: 40px;
  .form-group {
      display: block;
      border: none;
      outline: none;
      padding-left: 15px;
      right: 30px;
      position: absolute;
      left: 0;
      cursor: pointer;
      background-color: transparent;
      z-index: 0;
      &:first-child {
        z-index: 1;
      }
  }
}

.autocomplete-dropdown {
    padding-left: 42px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #666 !important;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    border-top: none;
    border-radius: 3px;
    margin-top: -2px;
    cursor: pointer;
    a {
      color: #666 !important;
    }
    &:hover {
      background-color: rgb(238, 238, 238);
      a {
        text-decoration: none;
      }
    }
}
