// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

$background-color: #f9f9f9;
$primary-color: #b5bc4f;
$fa-font-path: '../bower_components/components-font-awesome/fonts';
@import url("./gibson.css");

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Injects all bower_component files automatically
// bower:scss
@import '../bower_components/components-font-awesome/scss/font-awesome.scss';
// endbower

// Injects all import files automatically
// [injector]
// [endinjector]

@import './react-widgets.css';
@import './react-select.css';
@import '../bower_components/spinkit/scss/spinners/6-chasing-dots.scss';

body {
  // Compensate for the 62px tall fixed navbar with padding-top
  padding-top: 62px;
  font-family: 'Gibson', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  background: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  p {
    margin: 0;
  }
}

* {
  transition: all 0.5s ease;
}

.content, .panel {
  background: $background-color;
}

// Temp color tweaks
a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #002539;
}

label {
  font-weight: normal;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
}

#login-panel {
  margin-top: 200px;
}

.container {
  max-width: 100%;
  padding-bottom: 50px;
}

.nomargin {
  margin: 0;
}

.flat-button .btn, .flat-button.btn {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

[contentEditable] {
  outline: none;
  border-bottom: 1px dotted #666;
  &:before:empty{
    content:attr(data-ph);
    color:yellow;
    font-style:italic;
  }
}

/* ==========================================================================
Loader
========================================================================== */

.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $primary-color;
  opacity: 0.8;
  z-index: 50;
  &.error {
    background: red;
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    z-index: 50;
    .sk-spinner-chasing-dots.sk-spinner {
      width: 120px;
      height: 120px;
      .sk-dot1, .sk-dot2 {
        background-color: #ffffff;
      }
    }
  }
}


/* ==========================================================================
Top Navbar
========================================================================== */

.navbar-inverse {
  background: $primary-color;
  height: 62px;
  box-shadow: none;
  .navbar-brand {
    color: #333;
  }
  .navbar-header.pull-left {
    position: absolute;
    left: 0;
    right: 120px;
    .btn-default.drawer-toggle {
      position: relative;
      float:left;
      padding: 9px 15px;
      margin: 15px 0 15px 15px;
      background: none;
      border: none;
    }
    .navbar-brand {
    }
    .navbar-form {
      padding-top: 0;
      padding-bottom: 0;
      float: left;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      .form-group {
        position: absolute;
        left: 130px;
        right: 0;
        .form-control::-webkit-input-placeholder {
          color: rgba(255,255,255,0.8);
        }
        .form-control[type=text] {
          box-shadow: inset 0 -1px 0 rgba(255,255,255,0.8);
          -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.8);
          -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.8);
        }
      }
    }
  }
  .navbar-header.pull-right.nav
  >li{
      float: left;
    >a {
      padding-top: 20.5px;
      padding-bottom: 20.5px;
      &.loggedin-menu {
        padding-top: 11px;
        padding-bottom: 4px;
      }
    }
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    > li > a {
      color: #fff;
    }
  }
}


/* ==========================================================================
Left Drawer
========================================================================== */

nav.drawer {
  z-index: -1;
  top: 62px;
  bottom:0;
  position: fixed;
  width: 300px;
  background: #eee;

  overflow-y: scroll;

  .divider {
    border-bottom: dotted 1px rgba(0,0,0,0.3);
  }

  .nav-stacked {
    li a {
      color: #444;
      &:hover {
        background: $background-color;
      }
      .fa {
        margin-top: 3px;
      }
      &.active {
        background: $background-color;
      }
    }
  }
}

nav.drawer-enter {
  left: 0;
}

nav.drawer-enter.drawer-enter-active {
  left: 0px;
}

nav.drawer-leave {
  left: 0px;
}

nav.drawer-leave.drawer-leave-active {
  left: 0;
}

.default.detail {
  position: absolute;
  left: 0;
  right: 0;
}

/* ==========================================================================
Subhero Buttons
========================================================================== */

.btn-toolbar > a {
  margin-left: 5px;
}

/* ==========================================================================
Relationship Selector
========================================================================== */

.relationship-selector {
  width: 100%;
  margin-bottom: 15px;
  height: 50px;
  .rw-combobox {
    width: 75%;
    float: left;
    position: relative;
    input {
      padding-left: 15px;
    }
  }
  .btn {
    float: right;
    margin-right: -5px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: none;
  }
}
/* ==========================================================================
Griddle Admin Lists
========================================================================== */

.griddle {
  td {
    input[type="checkbox"] {
      margin-left: 10px;
    }
  }
}

/* ==========================================================================
Mini hero (relationship list editor)
========================================================================== */

.relationship-button {
  .btn-group {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 6px 15px rgba(0,0,0,0.08);

  }
  .btn {
    height: auto;
    border: none;
    box-shadow: none;
    &:first-child {
      width: 90%;
      text-transform: none;
      text-align: left;
      padding-top: 13px;
      padding-bottom: 20px;
      color: #fff;
    }
    &.dropdown-toggle {
      width: 10%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-image: none !important;
    }
    .minihero {
      // background: rgba(255,255,255,0.7);
      margin: -13px -16px -20px;
      padding: 0px 15px;
      height: auto;
      overflow: hidden;
      background: #fff;
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;

    }
  }
  .dropdown-menu {
    left: inherit;
    right: 0;
    float: right;
  }
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
    position: relative;
    height: 300px;
    background: #999 no-repeat center center;
    background-size: cover;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.7) 82%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(27%,rgba(0,0,0,0)), color-stop(82%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
      background: rgba(0,0,0,0.3);

    }
    .headline {
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      a {
        color: #fff;
      }
      .media {
        margin-bottom: 10px;
      }
    }
    h3 {
      color: #efefef;
      padding-bottom:5px;
    }
    i {
        margin-left: 5px
    }
    .opacityOnHover a {
      opacity: 0.5;
      &:hover {
        opacity: 1.0;
      }
    }
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid.png);
}

// Bootstrap Customizations
.bgTexture {
  background: #666 url(../images/grid.png);
}
.sectionIcon {
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  position: relative;
  margin-right: 10px;
  margin-top: -15px;
  display: inline-block;
}
.carousel {
  height: 400px;
  overflow:hidden;
  background: #444;
  .carousel-inner {
    .image-bg {
      background: #999 no-repeat center center;
      background-size: cover;
      height: 400px;
      width: 100%;
      position: relative;
    }
  }
}


// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

// Pace styles
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 60px;
  right: 100%;
  width: 100%;
  height: 2px;
}

@media (min-width: 1px) {

}


@media (max-width: 768px) {
  nav.drawer {
    z-index: 1;
  }

nav.drawer-enter {
    left: -300px;
  }

  nav.drawer-enter.drawer-enter-active {
    left: 0px;
  }

  nav.drawer-leave {
    left: 0px;
  }

  nav.drawer-leave.drawer-leave-active {
    left: -300px;
  }
}
@media (min-width: 768px) {

  .pace .pace-progress {
    top: 62px;
  }

  nav.drawer {
    width: 200px;
  }

  .default.detail {
    transform: translate(200px,0);
    right: 200px;
  }

  .navbar-fixed-top .form-control {
    width: 100%;
  }

 .container-fluid .navbar-brand {
   margin-left: 0;
 }
}

@media (min-width: 992px) {

  .hero {
    height: 500px;
  }
  nav.drawer {
    width: 300px;
  }



  .default.detail {
    transform: translate(300px,0);
    right: 300px;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 800px;
    h3 {
      font-size: 50px;
    }
  }
  .carousel {
    height: 800px;
    .carousel-inner {
      .image-bg {
        height: 800px;
      }
    }
  }
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

.autocomplete-input {
  height: 40px;
  .form-group {
      display: block;
      border: none;
      outline: none;
      padding-left: 15px;
      right: 30px;
      position: absolute;
      left: 0;
      cursor: pointer;
      background-color: transparent;
      z-index: 0;
      &:first-child {
        z-index: 1;
      }
  }
}

.autocomplete-dropdown {
    padding-left: 42px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #666 !important;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    border-top: none;
    border-radius: 3px;
    margin-top: -2px;
    cursor: pointer;
}

.autocomplete-dropdown a {
    color: #666 !important;
}

.autocomplete-dropdown:hover a {
    text-decoration: none;
}

.autocomplete-dropdown:hover {
    background-color: rgb(238, 238, 238);
}
