// Main Stylesheet

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Injects all bower_component files automatically
// bower:scss
@import "../bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

// Injects all import files automatically
// [injector]
// [endinjector]

body {
  // Compensate for the 50px tall fixed navbar with padding-top
  padding-top: 85px;
}

label {
  font-weight: normal;
}

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
}

#login-panel {
  margin-top: 200px;
}


.navmenu-fixed-left {
  top: 62px;
  width: 200px;
}

.sidebar-toggle {
  position: relative;
  float:left;
  padding-left: 15px;
  margin-right: 0px;
}

.container {
  max-width: 100%;
}

.nomargin {
  margin: 0;
}

/* ==========================================================================
Griddle Admin Lists
========================================================================== */

.griddle {
  td {
    input[type="checkbox"] {
      margin-left: 10px;
/* ==========================================================================
Sidebar
========================================================================== */

.navmenu-fixed-left {
  .nav-stacked {
    li a {
      color: #444;
      .fa {
        margin-top: 3px;
      }
    }
  }
}

/* ==========================================================================
Mini hero
========================================================================== */
.minihero {
    position: relative;
    height: 50px;
    background: #999 no-repeat center center;
    background-size: cover;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.3);
    }
    &:hover {
      &:before {
        background: rgba(0,0,0,0.5);
      }
    }
    h6 {
      color: #fff;
      position: absolute;
      display: block;
    }
}
/* ==========================================================================
Hero
========================================================================== */
.hero {
    position: relative;
    height: 300px;
    background: #999 no-repeat center center;
    background-size: cover;
    color: #fff;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,0.7) 82%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(27%,rgba(0,0,0,0)), color-stop(82%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 27%,rgba(0,0,0,0.7) 82%,rgba(0,0,0,0.7) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
      background: rgba(0,0,0,0.3);

    }
    .headline {
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      a {
        color: #fff;
      }
      .media {
        margin-bottom: 10px;
      }
    }
    h3 {
      color: #efefef;
      padding-bottom:5px;
    }
    i {
        margin-left: 5px
    }
    .opacityOnHover a {
      opacity: 0.5;
      &:hover {
        opacity: 1.0;
      }
    }
}
.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/grid.png);
}

// Bootstrap Customizations
.bgTexture {
  background: #666 url(../images/grid.png);
}
.sectionIcon {
  color: #fff;
  font-size: 24px;
  line-height: 1em;
  position: relative;
  margin-right: 10px;
  margin-top: -15px;
  display: inline-block;
}
.carousel {
  height: 400px;
  overflow:hidden;
  background: #444;
  .carousel-inner {
    .image-bg {
      background: #999 no-repeat center center;
      background-size: cover;
      height: 400px;
      width: 100%;
      position: relative;
    }
  }

}

.navbar {
  height: 62px;
}

.navbar-header.pull-right.nav>li {
  float: left;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

// Pace styles
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 60px;
  right: 100%;
  width: 100%;
  height: 2px;
}

@media (min-width: 1px) {
  .sidebar-toggle {
    display: block !important;
  }

  .navbar-fixed-top .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
    > li > a {
      padding-top: 20.5px;
      padding-bottom: 20.5px;
      &.loggedin-menu {
        padding-top: 11px;
        padding-bottom: 4px;
      }
    }
  }

  .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    float: left;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

@media (min-width: 768px) {
  body {
    padding-left: 200px;
    padding-top: 62px;
  }
  .pace .pace-progress {
    top: 62px;
  }

  .navmenu-fixed-left {
    width: 200px;
  }

  .sidebar-toggle {
    display: none !important;
  }
}

@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
  .hero {
    height: 500px;
  }
  .navmenu-fixed-left {
    width: 300px;
  }
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}
